---
- name: Directory Exists | /opt/mvml/
  file:
    state: directory
    path: /opt/mvml/
    owner: root
    group: root
    mode: 0644
  notify:
    - Start mvml

- name: Pull Repo | mvml
  git:
    repo: https://github.com/JScott/mvml.git
    dest: /opt/mvml/parse
    version: master
    accept_hostkey: yes

- name: Gem Install | bundler
  command: bash -lc "gem install bundler" creates=/usr/local/bin/bundle

- name: Gem Install | from gemfile
  command: "chdir=/opt/mvml/parse /usr/local/bin/bundle install"
